<h1>Edit Vehicle</h1>

<%#= render 'shared/errors', object: @vehicle %>

<% if @vehicle.errors.any? %>
  <% @vehicle.errors.full_messages.each do |message| %>
    <p>
      <%= message %>
    </p>
  <% end %>
<% end %>

<%= render 'form', vehicle: @vehicle %>
